node_modules
.next
dist
.turbo
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.vercel
playwright-report/
test-results/
apps/api/prisma/seed.js
apps/api/prisma/seed.js.map
apps/api/prisma/seed.d.ts
packages/types/src/*.js
packages/types/src/*.js.map
